header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.904);
    box-shadow: rgba(0, 0, 0, 0.363) 10px 10px 15px;
    
    
}

.filmaria{
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      color: white;
      margin-right: 700px;
}

.salvos{
    text-decoration:none;
    background-color: white;
    width: 70px;
    height: 35px;
    text-align: center;
    align-items: center;
    line-height: 30px;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
    color: black;
    transition: all 0.7s;
    cursor: pointer;
}

.salvos:hover{
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.13);
    color: blanchedalmond;
}  