.conteudo{
display: flex;
align-items: center;
flex-direction: column;
width: 100%;
height: 800px;
}

.img2{
    border-radius: 10px;
    width: 900px;
    height: 400px;
}
.sinopse{
    font-size: 20px;
    font-weight: lighter;
    width: 900px;
    margin-top: -5px;
}
.botoes{
    display: flex;
    justify-content:space-around;

}

.salvar{
    width: 70px;
    height: 40px;
    background-color: rgba(95, 158, 160, 0.281);
    margin-right: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: black;
    border-radius: 4px;
    transition: all 0.5s;
    cursor: pointer;
}
.salvar:hover{
    background-color: brown;
}

